.title{
  text-align: center;
  color:rgb(18, 7, 102);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}

.title h2{
  font-size: 32px;
  color:rgb(34, 35, 35);
  margin-top: 5px;
  text-transform: none;
}